---
---
<!DOCTYPE html>
<html>
{% include head.html %}

<body class="animated fadeIn">
  <div class="container">
    <div id="background-div">
      <svg id="background-svg">
        <lineargradient id="Gradient1" x1="0" x2="0" y1="0" y2="1">
          <stop stop-opacity="0" class="bgColor2" offset="0%" />
          <stop stop-opacity="0.5" class="bgColor2" offset="10%" />
          <stop stop-opacity="0.5" class="bgColor1" offset="40%" />
          <stop stop-opacity="0" class="bgColor1" offset="100%" />
        </lineargradient>
        <g id="bg-layer1"></g>
        <g id="bg-layer2" class="hide"></g>
        <g id="bg-layer3"></g>
        <g id="bg-layer4"></g>
      </svg>
    </div>
    <section class="header">
      {% include header.html %}
    </section>
    <section class="content">
      <div class="row">        
        
        <div class="col-sm-6 col-sm-offset-2 content-div">
          <div class="page-separator hidden-xs">
            <h1 class="h1-strip" style="padding-bottom:8em; margin-bottom: 0;"></h1>
          </div>
          <div class="page-separator visible-xs">
            <h1 class="h1-strip" style="padding-bottom:2em; margin-bottom: 0;"></h1>
          </div>
          <h1 class="post-title page-title" id="title"><a href="#title">{{ page.title }}</a></h1>
          {{ content }}
        </div>        
        
        <div class="col-sm-4">
          <div class="pane-separator hidden-xs" style="margin-bottom:30em;"></div>
          <div class="pane-separator visible-xs" style="margin-bottom:5em;"></div>
          <div class="right-pane" style="margin-left: 1em;">

            <b>aktuelle Sendung</b>
            <br>
            <b>&#149;</b> #677: 08.06.23- <a href="https://rauschzeit.de/2023/06/08/playlist-der-677-rauschzeit-vom-08-06-2023.html">Playlist</a>
            <br><br>

            <b>kommende Sendungen</b>
            <br>
            <b>&#149;</b> #678: 22.06.23
            <br>
            <b>&#149;</b> #679: 06.07.23
            <br>
            <b>&#149;</b> #680: 20.07.23
            <br><br>
            <b>Playlists</b>
            <br>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2023.html">2023</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2022.html">2022</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2021.html">2021</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2020.html">2020</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2019.html">2019</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2018.html">2018</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2017.html">2017</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2016.html">2016</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2015.html">2015</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2014.html">2014</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2013.html">2013</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2012.html">2012</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2011.html">2011</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2010.html">2010</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2009.html">2009</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2008.html">2008</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2007.html">2007</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2006.html">2006</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2005.html">2005</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2004.html">2004</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2003.html">2003</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2002.html">2002</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2001.html">2001</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-2000.html">2000</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-1999.html">1999</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-1998.html">1998</a>
            <b>&#149;</b> <a href="https://rauschzeit.de/dropdown/playlists-1997.html">1997</a>

          </div>
        </div>
        
      </div>
    </section>
    <section class="footer">
      {% include footer.html %}
    </section>
  </div>
</body>

</html>
